

.sidebar{
    width: 100%;
}

@media (min-width: 768px) {
    .main{
        padding-right: 40% ;
        padding-left: 60%;
    }
}

*{
    text-decoration: none;
}
.list-group-item:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(233, 233, 233);
    cursor: pointer;
}
.vr{
    border-left: 1px solid black;
    height: 100%;
    width: 1px;
}
a:hover{
    cursor: pointer;
}
a:link{
    text-decoration: none;
}
h2{
    color: rgb(20, 83, 147);
}
.card{

    margin-left: 10%;
    padding-top: 80px;
  
}
.card{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}
.btn, button{
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
.navbar{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}